    /* NAVIGATION BARS - bars are not extending full width of screen?? */     
    header {
        color: #333;
        background: white;
        border-bottom: 2px solid gray;
      }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:white;
        }

        li {
        float: right;
        }

        li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
/* NAV BAR - added hover funciton on nav bar */ 
        li a:hover:not(.active) {
        background-color: gray;
        }
 /* NAV BAR - My name styling - teal box */        
        .active {
        background-color: teal;
        color: white;
        }

        body {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: lightgray;
        }
/* box styling - added width and height (not sure if that will work on box styling) */
        .container {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        background-color:white;
        height: 600px; 
        margin: 10px 5px 10px 5px;
        padding: 5px 14px;
        }
 /* h2 styling - making it teal */
        h2 {
        padding: 5px 5px;
        color: teal;
        border-bottom: 2px solid gray;
        }
/* footer styling - gray box, white font */
        .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: gray;
        color: white;
        text-align: center;
        border-top: 8px solid teal;
        }
/* CONTACT PAGE- Styling - */
        #name {
        width: 100%;
        }

        #email {
        width: 100%;
        }

/* CONTACT PAGE- text box formating */
        #subject {
        height: 300px;
        width: 300px;
        }
/* CONTACT PAGE - submit button */
        #submit {
        background-color: teal;
        color: white;
        }
/* PROFILE PAGE - Create two equal columns that floats next to each other */
        .column {
        float: left;
        width: 50%;
        padding: 10px;
        }
      
        .column img {
        margin-top: 12px;
        }
      
/* PROFILE PAGE - Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }