    /* NAVIGATION BARS - bars are not extending full width of screen?? */     
    header {
        padding: 20px;
        margin: 20px 10px 20px 10px;
        color: #333;
        background: white;
      }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:white;
        }

        li {
        float: right;
        }

        li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
/* added hover funciton on nav bar */ 
        li a:hover:not(.active) {
        background-color: gray;
        }
 /* My name styling - teal box */        
        .active {
        background-color: teal;
        color: white;
        }

        body {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: lightgray;
        }
/* box styling - added width and height (not sure if that will work on box styling) */
        .container {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        background-color:white;
        width: 500px;
        height: 500px; 
        margin-bottom: 20px;
        }
 /* h2 styling - making it teal */
        h2 {
        color: teal;
        text-decoration: underline;
        }
/* footer styling - gray box, white font */
        .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: gray;
        color: white;
        text-align: center;
        border-top: 8px solid teal;
        }